@font-face{
    font-family: 'Expressway';
    src: url('../fonts/ExpresswayRg-Regular.ttf');
}
html{
    font-family: 'Expressway', sans-serif;
    font-size: 1.15rem;
}
body{
    background-color: var(--tertiary);
}