.card-compounding{
    position: relative;
    display: grid;
    grid-template-areas:    'photo info'
                            'bio bio';
    grid-template-columns: auto 1fr;
    width: fit-content;
    max-width: 32em;
    grid-gap: 0.5em 1.25em;
    padding: 0 1em 1em 0;
    color: var(--primary);
}
.card-compounding::before{
    content: '';
    background: var(--secondary);
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.card-compounding img{
    grid-area: photo ;
    border-radius: 1em;
    box-shadow: 2px 2px 4px #000;
    width: auto;
    height: 12em;
    background-color: var(--primary);
}
.card-compounding .info{
    grid-area: info;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.card-compounding .body{
    grid-area: bio;
    margin-left: 3.5em;
    font-size: 0.75em;
}

.card-compounding h2{
    margin: 0;
    width: fit-content;
}
.card-compounding .info .subtitle{
    font-style: italic;
    font-weight: lighter;
    width: fit-content;
}

.card-compounding .info .field--name-field-promo{
    
}
.card-compounding .info a{
    color: var(--tertiary);
    text-decoration: none;
    margin-top: auto;
    background: var(--primary);
    padding: 0.5em 1em;
    width: fit-content;
}