.paragraph-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5em;
    margin: auto;
}

.paragraph-grid > *{
    --mobile-span: 12;
    --tablet-span: 6;
    --desktop-span: 4;
    grid-column: span var(--mobile-span);
}

@media (min-width: 576px) {
    .paragraph-grid > * {
        grid-column: span var(--tablet-span);
    }
}
@media (min-width: 768px) {
    .paragraph-grid > * {
        grid-column: span var(--desktop-span);
    }
}

@media screen and (orientation: landscape) {
    .paragraph-grid {
        width: 60%;
    }
}

.paragraph-grid img{
    max-width: 100%;
    width: auto;
    height: auto;
}
