<nav class="main-nav" role="navigation" aria-label="Main navigation">
  
  <ul id="main-menu" class="main-menu">
      {% include "@compounding/templates/navigation/menu.html.twig" %}
  </ul>
  
  <label for="hamburger-toggle" class="hamburger-toggle" > <div></div><div></div><div></div> </label>
  <input type='checkbox' name='hamburger-toggle' id='hamburger-toggle'  />
