
#main-menu{
    --menu-bottom-spacing: 0.75em;
    position: fixed;
    left: -100dvw;
    transition: left 0.25s;
    width: calc(100dvw - 2em);
    height: calc(100dvh - 4em);
    background: var(--quaternary);
    color: var(--tertiary);
    margin: 0;

    font-weight: bold;
    
    line-height: 2em;
    font-size: 2em;
    z-index: 1;
    padding: 2em 1em;
}
#main-menu a{
    text-decoration: none;
    color: var(--tertiary);
}

label.hamburger-toggle{
    cursor: pointer;
    display: block;
    position: relative;
    height: 4em;
    margin: 1em;
    aspect-ratio: 1/1;
    z-index:1;
}
label.hamburger-toggle div{
    width: 100%;
    height: 20%;
    background: var(--tertiary);
    opacity: 1;

    transition: transform 0.25s, top 0.25s, bottom 0.25s, opacity 0.05s;
    
    position: absolute;
}
label.hamburger-toggle div:nth-child(1){
    top:0;
}
label.hamburger-toggle div:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
label.hamburger-toggle div:nth-child(3){
    bottom:0;
}
#hamburger-toggle{
    display: none;
}

/* checked styles mobile */
.main-nav:has(#hamburger-toggle:checked) #main-menu{
    left: 0%;
}
.main-nav:has(#hamburger-toggle:checked) label.hamburger-toggle{
    position: fixed;
    top: 3em;
    right: 0.5em;
}
.main-nav:has(#hamburger-toggle:checked) label.hamburger-toggle div:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(-135deg);
}
.main-nav:has(#hamburger-toggle:checked) div:nth-child(2){
    opacity: 0;
}
.main-nav:has(#hamburger-toggle:checked) div:nth-child(3){
    bottom:50%;
    transform: translateY(50%) rotate(135deg);
}

/* desktop menu */
@media (min-width: 768px) {
    nav:has(.main-nav){
        flex-grow: 1;
    }
    #main-menu > .menu{
        justify-content: space-around;
    }
    label.hamburger-toggle{
        display: none;
    }
    #main-menu{
        position: unset;
        left: 0;
        top: 0;
        width: auto;
        background: none;
        height: auto;    
        line-height: 1em;
        font-size: 1em;
        padding: 0;
    }
    #main-menu .menu{
        flex-direction: row;
    }
    
/*    sub - menus show under header */
    #main-menu > .menu > li{
        padding-bottom: var(--menu-bottom-spacing);
    }
    #main-menu > .menu > li > .menu{
        position: absolute;
        transform: translateY(var(--menu-bottom-spacing));
        margin: 0;
        inset: auto 0;
        background: var(--quaternary);
        color: var(--tertiary);
    }
}